.navbar-brand img{
    width: 60px; 
    height: auto;
}
.navbar{
    background-color: beige !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    top: 0;
    z-index: 1000;

}
.nav-link{
    color: black ;
    font-weight: 550;
}
.nav-link:hover{
    color:#66462f;
}